* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
  background-color: #f5fafe;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.input {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
}
.input::placeholder {
  color: #BDBDBD;
  font-size: 12px;
}

.button {
  min-width: 160px;
  min-height: 50px;
  padding: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

a:hover {
  text-shadow: 0 0 1px #ffffff;
}

.navbar {
  background-color: #ffffff;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
}
.navbar-top__menu-button {
  display: none;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-menu {
  background: #0A223D;
}
.navbar-menu__navigation {
  margin: 0;
  padding: 31px 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.navbar-menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.navbar-menu__item_mob_visible {
  display: none;
  width: 80%;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  min-width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search__input {
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #f5fafe;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  border: none;
  background-color: #EC1F46;
  cursor: pointer;
  outline: none;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.menu-button {
  outline: none;
  border: none;
}
.menu-button:focus {
  outline: none;
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 18px 0px;
  margin: 0;
}
.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}
.breadcrumb-list__link:hover {
  color: red;
}

.hotel {
  padding: 23px 0 70px 0;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}
.hotel-info__description {
  margin-bottom: 4px;
  margin-top: 0px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
}
.hotel-grid {
  display: flex;
  justify-content: space-between;
}
.hotel-grid__slider {
  width: 728px;
  height: 450px;
}
.hotel-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-slider {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}
.hotel-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-slider__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}
.hotel-slider__image {
  height: 100%;
  width: 100%;
}
.hotel-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: transparent;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}
.hotel-slider__button_prev {
  left: 18px;
  background-image: url("../img/arrow-prev.svg");
}
.hotel-slider__button_next {
  right: 18px;
  background-image: url("../img/arrow-next.svg");
}

.stars {
  flex-basis: 100%;
  display: flex;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background: #EC1F46;
  border-radius: 3px;
  color: white;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: white;
  background: #EC1F46;
  border-radius: 4px;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-size: 14px;
  line-height: 18px;
}
.rating__counter_lit {
  font-size: 10px;
  line-height: 13px;
}

.booking {
  background: #0A223D;
  color: white;
  font-family: "Nunito", sans-serif;
  border-radius: 8px;
  width: 350px;
  height: 210px;
  padding: 28px;
}
.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.booking__price {
  display: flex;
  flex-direction: column;
}
.booking__start {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.booking__room {
  margin-top: 4px;
}
.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.booking__description {
  margin-left: 9px;
}
.booking__call-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__phone {
  margin-left: 8px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
  padding: 13px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #EC1F46;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  background: gray;
  border-radius: 10px;
  overflow: hidden;
}
.map__frame {
  width: 100%;
  height: 213px;
  frameborder: 0;
  border: 0;
  allowfullscreen: "";
  aria-hidden: "false";
  overflow: hidden;
}
.map__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hotel-grid__slider {
    width: 590px;
  }

  .item__button {
    padding: 10px 16px;
  }

  .card {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 992px) {
  a:hover {
    text-shadow: none;
  }

  .container {
    max-width: 700px;
  }

  .logo {
    width: 132px;
  }

  .navbar__search {
    margin-left: auto;
  }
  .navbar-top {
    padding: 30px 0px;
  }
  .navbar-menu__navigation {
    padding: 22px 0px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }

  .search__input {
    min-width: 340px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel-grid__slider {
    margin-bottom: 30px;
    width: 100%;
    height: 450px;
  }
  .hotel-about {
    flex-direction: row;
  }

  .booking {
    width: 48.5%;
  }

  .map {
    width: 48.5%;
  }

  .packages-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .packages__title {
    font-size: 30px;
    margin-bottom: 54px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 78px;
  }

  .container {
    max-width: 690px;
    width: 92%;
  }

  .navbar_mob-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
  }
  .navbar__search_mob_hidden, .navbar__user_mob_hidden {
    display: none;
  }
  .navbar__search_mob_visible, .navbar__user_mob_visible {
    display: flex;
  }
  .navbar__user {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 78px;
    bottom: 0;
    padding-top: 30px;
  }
  .navbar-menu__navigation {
    flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item_mob_visible {
    display: block;
    margin-bottom: 39px;
  }
  .navbar-menu_visible {
    display: block;
  }
  .navbar-top__menu-button {
    display: flex;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 11px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
  .navbar-top__menu-button:focus {
    outline: none;
  }
  .navbar-top__menu__image {
    width: 16px;
    height: 11px;
  }

  .user__name_light {
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .search__input {
    min-width: auto;
  }

  .stars {
    flex-basis: inherit;
    margin-right: 35px;
  }

  .hotel {
    padding-top: 5px;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
    margin-top: 0;
  }

  .hotel-grid__slider {
    height: 350px;
  }

  .packages__title {
    font-size: 18px;
    margin-bottom: 42px;
  }
  .packages-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
  }
  .packages__item {
    width: 83%;
  }
  .packages__item_2x {
    grid-column: 1;
    flex-wrap: wrap;
  }

  .item__photo_2x {
    height: 50%;
    max-width: 100%;
  }
  .item__paragraph {
    display: none;
  }
  .item__about {
    padding: 30px 20px 25px 20px;
  }
  .item__about_2x {
    max-width: 100%;
    width: 100%;
    height: 50%;
    padding: 30px 21px 25px 32px;
  }
  .item__name_2x {
    margin: 0 0 18px 0;
  }
  .item__stars {
    display: none;
  }
  .item__offer_2x {
    max-width: 61px;
    min-height: 18px;
    font-size: 8px;
    line-height: 10px;
    padding: 4px 9px;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 99px;
  }

  .hotel-about {
    flex-direction: column;
  }
  .hotel-grid__slider {
    height: 250px;
    margin-bottom: 20px;
  }

  .booking {
    width: 100%;
  }

  .map {
    width: 100%;
    margin-top: 20px;
  }

  .packages__item {
    width: 100%;
  }

  .item__price {
    margin-bottom: 5px;
  }
  .item-price-wrapper {
    flex-direction: column;
  }

  .newsletter {
    height: 319px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }

  .subscribe {
    max-width: 100%;
    border: blue 5px;
  }

  .reviews__title {
    max-width: 250px;
  }

  .activities__title {
    font-size: 18px;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .card {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .hotel-grid__slider {
    width: 280px;
    height: 180px;
  }
  .hotel-about {
    min-width: 280px;
  }

  .booking {
    width: 280px;
    min-height: 210px;
  }

  .map {
    width: 280px;
    min-height: 173px;
  }
}
@media (max-height: 583px) {
  .navbar-menu_visible {
    overflow-y: scroll;
  }
}
@media (max-height: 422px) {
  .modal__dialog {
    overflow-y: scroll;
  }
}
/*# sourceMappingURL=style.css.map */