* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
  background-color: #f5fafe;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.input {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
}
.input::placeholder {
  color: #BDBDBD;
  font-size: 12px;
}

.button {
  min-width: 120px;
  min-height: 40px;
  padding: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

a:hover {
  text-shadow: 0 0 1px #ffffff;
}

.navbar {
  background-color: #ffffff;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
}
.navbar-top__menu-button {
  display: none;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-menu {
  background: #0A223D;
}
.navbar-menu__navigation {
  margin: 0;
  padding: 31px 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.navbar-menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.navbar-menu__item_mob_visible {
  display: none;
  width: 80%;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  min-width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search__input {
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #f5fafe;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  border: none;
  background-color: #EC1F46;
  cursor: pointer;
  outline: none;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.menu-button {
  outline: none;
  border: none;
}
.menu-button:focus {
  outline: none;
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 18px 0px;
  margin: 0;
}
.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}
.breadcrumb-list__link:hover {
  color: red;
}

.hotel {
  padding: 23px 0 70px 0;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}
.hotel-info__description {
  margin-bottom: 4px;
  margin-top: 0px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
}
.hotel-grid {
  display: flex;
  justify-content: space-between;
}
.hotel-grid__slider {
  width: 728px;
  height: 450px;
}
.hotel-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-slider {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}
.hotel-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-slider__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}
.hotel-slider__image {
  height: 100%;
  width: 100%;
}
.hotel-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: transparent;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}
.hotel-slider__button_prev {
  left: 18px;
  background-image: url("../img/arrow-prev.svg");
}
.hotel-slider__button_next {
  right: 18px;
  background-image: url("../img/arrow-next.svg");
}

.stars {
  flex-basis: 100%;
  display: flex;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background: #EC1F46;
  border-radius: 3px;
  color: white;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: white;
  background: #EC1F46;
  border-radius: 4px;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-size: 14px;
  line-height: 18px;
}
.rating__counter_lit {
  font-size: 10px;
  line-height: 13px;
}

.booking {
  background: #0A223D;
  color: white;
  font-family: "Nunito", sans-serif;
  border-radius: 8px;
  width: 350px;
  height: 210px;
  padding: 28px;
}
.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.booking__price {
  display: flex;
  flex-direction: column;
}
.booking__start {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.booking__per-room {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.booking__room {
  margin-top: 4px;
}
.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.booking__description {
  margin-left: 9px;
}
.booking__call-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.booking__phone {
  margin-left: 8px;
}
.booking__button {
  width: 100%;
  min-height: 45px;
  padding: 13px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background: #EC1F46;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  background: gray;
  border-radius: 10px;
  overflow: hidden;
}
.map__frame {
  width: 100%;
  height: 213px;
  frameborder: 0;
  border: 0;
  allowfullscreen: "";
  aria-hidden: "false";
  overflow: hidden;
}
.map__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.packages {
  padding: 40px 0 70px 0;
}
.packages__title {
  display: block;
  max-width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 70px;
}
.packages-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}
.packages__item {
  background-color: #0A223D;
  width: 100%;
  height: 500px;
}
.packages__item_2x {
  max-width: 730px;
  grid-column: span 2;
  display: flex;
}

.item {
  border-radius: 8px;
  overflow: hidden;
}
.item__photo {
  position: relative;
  width: 100%;
  height: 250px;
  height: 50%;
}
.item__photo_2x {
  height: 500px;
  max-width: 366px;
  width: 100%;
}
.item__image {
  width: 100%;
  height: 100%;
  margin: 0;
}
.item__offer {
  position: absolute;
  left: 0;
  top: 26px;
  max-width: 61px;
  min-height: 18px;
  border-radius: 0px 4px 4px 0px;
  background-color: #EC1F46;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  padding: 4px 9px;
  text-align: center;
}
.item__offer_2x {
  max-width: 95px;
  min-height: 30px;
  font-size: 12px;
  line-height: 15px;
  padding: 7px 11px;
}
.item__about {
  height: 50%;
  padding: 30px 21px 25px 32px;
}
.item__about_2x {
  height: 500px;
  width: 90%;
  max-width: 364px;
  padding: 46px 21px 30px 43px;
}
.item-star-wrapper {
  margin-bottom: 27px;
}
.item__paragraph {
  padding-bottom: 16px;
  margin-bottom: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160.6%;
  color: white;
}
.item__room {
  margin-bottom: 37px;
}
.item__name {
  margin: 0 0 18px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: white;
}
.item__name_2x {
  margin: 5px 0 0 0;
}
.item__description {
  color: white;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.item__icon {
  margin-right: 15px;
}
.item__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.item-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.item__price {
  display: flex;
  color: white;
  flex-wrap: wrap;
}
.item__oldpricetag {
  color: inherit;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.item__pricetag {
  color: inherit;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.item__button {
  min-width: 120px;
  height: 40px;
  padding: 10px 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.parallax-window {
  height: 260px;
  background: transparent;
}

.newsletter {
  display: flex;
  height: 260px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 98px 0 87px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newsletter:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}
.newsletter-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 731px;
  margin: 354 auto;
}
.newsletter-title {
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.newsletter-title__strong {
  display: block;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}
.newsletter .subscribe {
  position: relative;
  width: 350px;
  height: 55px;
}
.newsletter .subscribe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  overflow: hidden;
}
.newsletter .subscribe__input::placeholder {
  color: #BDBDBD;
}
.newsletter .subscribe__button {
  position: absolute;
  width: 65px;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form__error[for=newsletter_email] {
  position: absolute;
  top: 57px;
  left: 2px;
  font-size: 12px;
  color: #EC1F46;
  font-weight: bold;
  -webkit-text-stroke: 0.4px #f2002e;
}

.reviews {
  padding: 40px 0 70px 0;
}
.reviews__title {
  display: block;
  max-width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 70px;
}
.reviews-slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 730px;
  margin: 45px auto 0;
  background-color: white;
  border-radius: 8px;
  padding: 0 62px 30px;
}
.reviews-slider__item::before {
  position: absolute;
  top: 12px;
  left: 62px;
  content: "";
  width: 70px;
  height: 47px;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
}
.reviews-slider__item::after {
  position: absolute;
  top: 118px;
  right: 62px;
  content: "";
  width: 70px;
  height: 47px;
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
}
.reviews-slider__button {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 99;
  cursor: pointer;
}
.reviews-slider__button_prev {
  background-image: url(../img/gray-arrow-left.svg);
  left: 0;
}
.reviews-slider__button_next {
  background-image: url(../img/gray-arrow-right.svg);
  right: 0;
}
.reviews-slider__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -45px 0 32px 0;
}
.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 9px;
}
.reviews-slider__username {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
  margin-top: 0;
}
.reviews-slider__date {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}
.reviews-slider__rating {
  display: flex;
  align-items: center;
}
.reviews-slider__text {
  max-width: 537px;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  color: #333333;
  margin: auto;
}

.activities {
  padding: 60px 0 98px 0;
}
.activities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 57px;
  margin-top: 0;
}
.activities-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 255px;
  height: 255px;
  padding: 24px 26px;
  border-radius: 6px;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: -1;
}
.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -2;
}
.card__title {
  display: inline-block;
  max-width: 200px;
  margin-top: auto;
  margin-bottom: 18px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.card__button {
  padding: 7px 22px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: white;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #0A223D;
  color: white;
  padding-top: 108px;
  padding-bottom: 46px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-max-content, 1fr));
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, -webkit-min-content);
  grid-auto-rows: minmax(40px, min-content);
  align-items: start;
}
.footer__title {
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}
.footer__title_inline {
  margin: 0 43px 0 0;
}
.footer__title_mb-30 {
  margin-bottom: 34px;
}
.footer__legal {
  justify-self: end;
}
.footer__logo {
  width: 155px;
  align-self: center;
  grid-row: 1/3;
}
.footer__categories {
  grid-row: 1/4;
}
.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 83px;
}
.footer__social-network {
  display: flex;
  align-items: start;
  grid-row: 2/4;
  grid-column: span 2;
}
.footer__contact-details {
  grid-column: span 2;
}
.footer__contact-form {
  grid-column: span 2;
}
.footer__ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__item {
  display: flex;
  align-items: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}
.footer__item_mb-20 {
  margin-bottom: 20px;
}
.footer__icon {
  margin-right: 20px;
}
.footer__icon-wrapper {
  min-width: 40px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
  margin-bottom: 22px;
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
.footer__input {
  width: 100%;
}
.footer__input-group {
  width: 48%;
  margin-bottom: 15px;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__form-group {
  padding-bottom: 20px;
  flex-basis: 48%;
  position: relative;
}
.footer__form-info {
  font-weight: 700;
  font-size: 12px;
  display: block;
  padding-top: 20px;
}
.footer__form::placeholder {
  color: #BDBDBD;
  font-size: 12px;
}
.footer__textarea {
  resize: none;
  height: 123px;
  flex-basis: 100%;
  margin-bottom: 23px;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 4px;
}
.footer__textarea::placeholder {
  color: #BDBDBD;
  font-size: 12px;
}
.footer__button {
  min-width: 160px;
}
.footer__info {
  display: flex;
  justify-content: flex-end;
  margin-top: 95px;
}

.form__error[for=footer_name], .form__error[for=footer_phone] {
  padding-top: 4px;
  position: absolute;
  bottom: 4px;
  left: 2px;
  font-size: 12px;
  font-weight: bold;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 696px;
}
.info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
.info__cards {
  width: 136px;
  height: 22px;
}
.info__link {
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.info__span {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hotel-grid__slider {
    width: 590px;
  }

  .item__button {
    padding: 10px 16px;
  }

  .card {
    width: 255px;
    height: 255px;
  }

  .activities__card {
    margin-right: 20px;
  }
  .activities__card:nth-child(4n) {
    margin-right: 0;
  }

  .footer__input-group {
    flex-basis: 100%;
  }
}
/****************************/
@media (max-width: 992px) {
  a:hover {
    text-shadow: none;
  }

  .container {
    max-width: 700px;
  }

  .logo {
    width: 132px;
  }

  .navbar__search {
    margin-left: auto;
  }
  .navbar-top {
    padding: 30px 0px;
  }
  .navbar-menu__navigation {
    padding: 22px 0px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }

  .search__input {
    min-width: 340px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel-grid__slider {
    margin-bottom: 30px;
    width: 100%;
    height: 450px;
  }
  .hotel-about {
    flex-direction: row;
  }

  .booking {
    width: 48.5%;
  }

  .map {
    width: 48.5%;
  }

  .packages-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .packages__title {
    font-size: 30px;
    margin-bottom: 54px;
  }

  .newsletter {
    padding: 102px 0 103px 0;
  }
  .newsletter-wrapper {
    max-width: 700px;
    margin: 34 auto;
  }

  .reviews {
    padding-bottom: 60px;
  }
  .reviews__title {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 38px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }

  .activities {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .activities__title {
    max-width: 700px;
    margin-top: 0px;
    margin-bottom: 57px;
  }
  .activities-wrapper {
    max-width: 700px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .activities__card {
    margin: 0px;
    margin-bottom: 20px;
  }

  .card {
    width: 48%;
    height: 255px;
  }

  .footer-wrapper {
    grid-template-columns: 1fr 0.5fr 1.5fr 1fr 1fr 1fr;
    grid-row-gap: 38px;
  }
  .footer__input-group {
    flex-basis: 48%;
  }
  .footer__logo {
    width: 104px;
    height: 120px;
    grid-row: 1/2;
    grid-column: span 2;
  }
  .footer__social-network {
    margin-left: -100px;
    justify-self: center;
    grid-row: 1/2;
    grid-column: span 3;
    align-self: center;
  }
  .footer__categories {
    grid-row: 2/3;
    grid-column: span 2;
  }
  .footer__additional {
    justify-self: center;
    grid-column: span 2;
  }
  .footer__legal {
    justify-self: center;
    grid-column: span 2;
  }
  .footer__contact-details {
    grid-column: span 5;
    grid-row: 3;
  }
  .footer__contact-form {
    grid-column: span 5;
    grid-row: 4;
  }
  .footer__info {
    margin-top: 63px;
  }
  .footer__ul {
    margin-bottom: 20px;
  }
  .footer__form {
    width: 580px;
  }
}
/**************************************/
@media (max-width: 767px) {
  body {
    padding-top: 78px;
  }

  .container {
    max-width: 690px;
    width: 92%;
  }

  .navbar_mob-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
  }
  .navbar__search_mob_hidden, .navbar__user_mob_hidden {
    display: none;
  }
  .navbar__search_mob_visible, .navbar__user_mob_visible {
    display: flex;
  }
  .navbar__user {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 78px;
    bottom: 0;
    padding-top: 30px;
  }
  .navbar-menu__navigation {
    flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item_mob_visible {
    display: block;
    margin-bottom: 39px;
  }
  .navbar-menu_visible {
    display: block;
  }
  .navbar-top__menu-button {
    display: flex;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 11px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
  .navbar-top__menu-button:focus {
    outline: none;
  }
  .navbar-top__menu__image {
    width: 16px;
    height: 11px;
  }

  .user__name_light {
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .search__input {
    min-width: auto;
  }

  .stars {
    flex-basis: inherit;
    margin-right: 35px;
  }

  .hotel {
    padding-top: 5px;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
    margin-top: 0;
  }

  .hotel-grid__slider {
    height: 350px;
  }

  .packages__title {
    font-size: 18px;
    margin-bottom: 42px;
  }
  .packages-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
  }
  .packages__item {
    width: 83%;
  }
  .packages__item_2x {
    grid-column: 1;
    flex-wrap: wrap;
  }

  .item__photo_2x {
    height: 50%;
    max-width: 100%;
  }
  .item__paragraph {
    display: none;
  }
  .item__about {
    padding: 30px 20px 25px 20px;
  }
  .item__about_2x {
    max-width: 100%;
    width: 100%;
    height: 50%;
    padding: 30px 21px 25px 32px;
  }
  .item__name_2x {
    margin: 0 0 18px 0;
  }
  .item__stars {
    display: none;
  }
  .item__offer_2x {
    max-width: 61px;
    min-height: 18px;
    font-size: 8px;
    line-height: 10px;
    padding: 4px 9px;
  }

  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter__title {
    margin-bottom: 37px;
  }
  .newsletter-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 570px;
    width: 92%;
  }
  .newsletter-title {
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }

  .reviews {
    padding-bottom: 50px;
  }
  .reviews__title {
    width: 100%;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 23px;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
    width: 100%;
  }
  .reviews-slider__item:before, .reviews-slider__item:after {
    display: none;
  }
  .reviews-slider__text {
    text-align: left;
  }
  .reviews-slider__button {
    top: 30px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button_prev {
    left: 50%;
    margin-left: -105px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button_next {
    right: 50%;
    margin-right: -105px;
    transform: translate(50%, 0);
  }

  .activities {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .card {
    width: 48%;
    height: 255px;
  }
}
/****************************/				
@media (max-width: 700px) {
  .footer {
    padding-top: 69px;
    padding-bottom: 21px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .footer__title {
    margin-top: 10px;
    font-size: 18px;
  }
  .footer__title_inline {
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .footer__title_mb-30 {
    margin-bottom: 15px;
  }
  .footer__form-info {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .footer__logo {
    width: 104px;
    height: 120px;
    grid-row: 1;
    grid-column: 1;
  }
  .footer__social-network {
    margin: 0px;
    justify-self: start;
    flex-wrap: wrap;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
  }
  .footer__additional {
    justify-self: start;
    grid-row: 3;
    grid-column: 1;
  }
  .footer__categories {
    grid-row: 4;
    grid-column: 1;
  }
  .footer__legal {
    justify-self: start;
    grid-row: 5;
    grid-column: 1;
  }
  .footer__contact-details {
    margin-top: 10px;
    grid-row: 6;
    grid-column: 1;
  }
  .footer__contact-form {
    grid-row: 7;
    grid-column: 1;
  }
  .footer__button {
    order: 1;
  }
  .footer__info {
    margin-top: 30px;
  }
  .footer .info-wrapper {
    flex-direction: column;
  }
  .footer .info__text {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 99px;
  }

  .hotel-about {
    flex-direction: column;
  }
  .hotel-grid__slider {
    height: 250px;
    margin-bottom: 20px;
  }

  .booking {
    width: 100%;
  }

  .map {
    width: 100%;
    margin-top: 20px;
  }

  .packages__item {
    width: 100%;
  }

  .item__price {
    margin-bottom: 5px;
  }
  .item-price-wrapper {
    flex-direction: column;
  }

  .newsletter {
    height: 319px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }

  .subscribe {
    max-width: 100%;
    border: blue 5px;
  }

  .reviews {
    padding-bottom: 50px;
  }
  .reviews__title {
    max-width: 250px;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 23px;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
    width: 100%;
  }
  .reviews-slider__item:before, .reviews-slider__item:after {
    display: none;
  }
  .reviews-slider__text {
    text-align: left;
  }
  .reviews-slider__button {
    top: 30px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button_prev {
    left: 50%;
    margin-left: -105px;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button_next {
    right: 50%;
    margin-right: -105px;
    transform: translate(50%, 0);
  }

  .activities__title {
    font-size: 18px;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .card {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer__form {
    width: 95%;
  }
}
/****************************/
@media (max-width: 550px) {
  .footer__input-group {
    flex-basis: 100%;
  }
}
/****************************/		
@media (max-width: 400px) {
  .hotel-grid__slider {
    width: 280px;
    height: 180px;
  }
  .hotel-about {
    min-width: 280px;
  }

  .booking {
    width: 280px;
    min-height: 210px;
  }

  .map {
    width: 280px;
    height: 173px;
  }
}
/****************************/
@media (max-height: 583px) {
  .navbar-menu_visible {
    overflow-y: scroll;
  }

  .search {
    min-width: 245px;
  }
}
/****************************/
/*# sourceMappingURL=style.css.map */