*, *:focus
  box-sizing: border-box
  outline: none

body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $light-blue

.container
  max-width: 1110px
  margin: auto

.image 
  max-width: 100%
  max-height: 100%
  object-fit: cover
  

.input
  background: #FFFFFF
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
  &::placeholder
    color: $gray
    font-size: 12px
 


.button
  min-width: 120px
  min-height: 40px
  padding: 18px
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  color: $light
  background-color: $primary
  border: none
  border-radius: 4px
  cursor: pointer
  outline: none



a:hover
  // color: #6cacef
  text-shadow: 0 0 1px #ffffff

.form
  &__error[for=name], &__error[for=phone], &__error[for=email]
    padding-top: 4px
    position: absolute
    top: 0px
    left: 2px
    font-size: 12px
    font-weight: bold
    color: black
    -webkit-text-stroke: 0.5px red

.thankyou
  width: 600px
  height: 450px
.back2main
  display: block
  margin: 0 auto
  margin-bottom: 60px
  padding: 25px 5px 0px 5px
  width: 160px
  min-height: 70px
  text-align: center
  background-color: $dark
  font-weight: 700
  color: white
  text-decoration: none
  border-radius: 5%



